.filtersPanel {
    background: var(--filter-card-background-color);
    border: thin dotted white;
    padding: 0.5em;
}

.addFilterModale {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgb(28, 12, 12);
}