.header {
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--header-background-color);

    padding: 8px;

    >.title {
        a {
            color: inherit;
            text-decoration: inherit;
        }
        font-size: 1.5em;
        flex-grow: 1;
        margin: 0;

        >.subtitle {
            margin-left: 1em;
            font-size: 80%;
        }
    }
}