.menu-button {
    background:  transparent;

    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }

    .menu-icon {
        flex-grow: 0;
        width: 32px;
        height: 32px;

        visibility: visible;
        cursor: pointer;


        &.menu-is-shown {
            cursor: none;
            visibility: hidden;
        }
    }
}

.menu {
    position: fixed;
    top: 8px;
    right: 8px;
    border: thin solid hsl(0 0% 100% / 0.4);

    background: black;

    opacity: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    >a {
        display: block;
        flex-grow: 1;
        font-size: 1.5em;

        color: hsl(0 0% 50% );
        text-decoration: none;

        padding: 0.4em;

        &:hover {
            background-color: hsl(0 0% 20%);
            color: white;
        }

        >.menu-item {
            width: 100%;
        }
    }
}