:root {
  --header-background-color: hsl(0, 0%, 15%);
  --body-background-color: hsl(0, 0%, 10%);
  --footer-background-color: var(--header-background-color);

  --button-background-color:  hsl(0, 0%, 20%);
  --button-color:  white;
  --button-border: hsl(0, 0%, 30%);
  --button-hover-background-color:  hsl(0, 0%, 30%);
  --button-hover-border: hsl(0, 0%, 40%);

  --button-highlighted-background-color:  hsla(120, 100%, 50%, 0.1);
  --button-highlighted-color:  hsl(120, 100%, 60%);
  --button-highlighted-border: hsl(120, 60%, 30%);
  --button-highlighted-hover-background-color:  hsla(120, 100%, 50%, 0.2);
  --button-highlighted-hover-color:   hsl(120, 100%, 70%);
  --button-highlighted-hover-border: hsl(120, 60%, 50%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--body-background-color);
  color :white;
  margin: 0;
  user-select: none;
}

#root {
  height: 100vh;
  font-size: 12px;
}

#shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {}


@media (min-width: 1200px) {}

@media (min-width: 1920px) {}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}