:root {
  --header-background-color: hsl(0, 0%, 15%);
  --body-background-color: hsl(0, 0%, 10%);
  --footer-background-color: var(--header-background-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background: var(--body-background-color);
  color :white;
  margin: 0;
  user-select: none;
}

#root {
  height: 100vh;
  font-size: 12px;
}

h1 {
  font-size: 1.5em;
}

#shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {}


@media (min-width: 1200px) {}

@media (min-width: 1920px) {}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}