.button {
    display: flex;
    gap: 0.5em;
    align-items: center;
    
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: thin solid var(--button-border);
    padding: 0.5em;
    cursor: pointer;
    border-radius: 3px;

    &.highlighted {
        background-color: var(--button-highlighted-background-color);
        color: var(--button-highlighted-color);
        border-color: var(--button-highlighted-border);
        &:hover {
            background-color: var(--button-highlighted-hover-background-color);
            color: var(--button-highlighted-hover-color);
            border-color: var(--button-highlighted-hover-border);
        }
    }

    &:hover {
        background-color: var(--button-hover-background-color);
        border-color: var(--button-hover-border);
    }
}