.button {
    background: var(--button-background-color);
    color: var(--button-color);
    border: var(--button-border);
    padding: 0.5em;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: var(--button-hover-background-color);
        border: var(--button-hover-border);
    }
}