.modale {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(0, 0%, 0%, 0.8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    border: 2em solid black;
    padding: 2em;

    > .wrapper {
        position: relative;
        background-color: rgba(0, 0, 0, 0.7);
        border: 4px solid rgba(255, 255, 255, 0.3);
        padding: 4em;
        >.panels {
            display :flex;
            flex-direction: column;
            list-style-type: none;
            gap: 1em;
            >* {
                width: 100%;
            }
        }
    }
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: hsla(0, 0%, 100%, 0.1);
    border: 2px solid hsla(0, 0%, 100%, 0.15);
    border-radius: 6px;
    padding: 0.8em 0.6em;
    gap: 1em;
  
    transition: all 200ms ease-in;

    max-width: 700px;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.15);
        border: 2px solid hsla(0, 0%, 100%, 0.2);
    }

    &.filterIsSet {
        background-color: hsla(120, 50%, 25%, 0.4);
        border-color: hsla(120, 50%, 25%, 0.7);
        &:hover {
            background-color: hsla(120, 50%, 25%, 0.6);
            border-color: hsla(120, 50%, 25%, 0.8);
        }
    }

    .title {
        margin: 0;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .remove {
        border: none;
        background: none;
        color :white;
        cursor: pointer;
        flex-grow: 0;
        flex-shrink: 0;
        text-decoration: underline;
    }
}