.page {
    display: flex;
    flex-direction: column;

    > img {
        width: 100%
    }

    > :not(img) {
        padding: 0 2em;
    }

    .info-blocs-container {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        >.info-bloc {
            display: flex;
            flex-flow: row nowrap;
    
            flex-grow: 0;
            text-align: left;
            cursor: pointer;

            >.label {
                border-radius: 4px 0 0 4px;
                background-color: #444;
                border-right: none;
            }
            >.value {
                background-color: #222;
                border-radius: 0 4px 4px 0;
                border-left: none;
               
                .available {
                    color: hsl(120 100% 50%);
                    font-weight: bold;
                }
                .not-available {
                    color: #666;
                }
            }

            > * {
                padding: 0.5em;
                border: thin solid #555;
            }

            
        }
    }

}