.wall {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 12px;
    gap: 16px 4px;
    margin: auto;

   

    /* image dimensions. ratio is dynamic, from images database */
    .artwork {
        height: 40vw;
    }

    @media (min-width: 800px) {
        justify-content: space-between;
        .artwork {
            height: 20vmin;
        }
    }

    >a {
        display: block;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &:visited {
            color: inherit;
        }
    }



}