.wall {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 16px 4px;

    /* image dimensions. ratio is dynamic, from images database */
    .artwork {
        height: 40vw;
    }

    @media (min-width: 800px) {
        justify-content: space-between;
        .artwork {
            height: 20vmin;
        }
    }

    >a {
        display: block;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &:visited {
            color: inherit;
        }
    }

}

.wall-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px 0;

    >.sortPanel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1ch;
        text-wrap: nowrap;
    
    }
}
